.songContainer{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 125px   ;
    background-color: #323232;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    border-top: #1f1f1f 3px solid;
    margin: auto;
    max-width: 1000px;
    padding: 0px 20px;
    height: 100px;
}

img{
    width: 50px;
    height: 50px;
}

.songName{
    color: #f3f3f3;
}

.songArtist{
    color: #c2c2c2;
}

.songAlbum{
    color: #f3f3f3;
}

.songLength{
    color: #c2c2c2;
}

.songName,.songArtist,.songAlbum,.songLength{
    transition: ease-in-out 0.2s;
}